* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

#header {
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    background-color: antiquewhite;
}

.logo {
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: 20px 0 0 50px;
    float: left;
}

.nav {
    line-height: 100px;
    margin: 0px 30px 0 0;

}

.nav li {
    float: left;
    margin: 0 30px 0 0px;
}

.go_btn {
    float: right;
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    background: royalblue;
    margin: 35px 20px 0 0 ;
}

